.coolButton{
    width:200px;
    height:50px;
    background-color: orange;
    border: solid 2px; 
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
  }
  
  
  .pulse:hover,
  .pulse:focus {
      animation: pulse 1s;
      box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
  }
  
  @keyframes pulse {
      0% {
          box-shadow: 0 0 0 0 var(--hover);
      }
  }
  
  .button {
      color: var(--color);
      transition: 0.25s;
      --color: black;
      --hover: black;
  }
  
  .button:hover, button:focus {
      border-color: var(--hover);
      color: #fff;
  }

  .bar{position:relative;
  }

  .vertical{display:block;}
  
.horizontal{
    position:absolute;
    display:inline-flex;
    left:230px;
    top:10px;
}
.keybutton{
      width:40px;
      height:40px;
      border: 5px solid black;
      transform: rotate(45deg);
      margin-left: 20px;
  }
.not_rotated{
    width:40px;
    height:40px;
    position:relative;
    transform: rotate(-45deg);
    top:-2px;
    left:7px; 
    /* NON SI ALLINEANO */
}

  